#main {
    text-align: center;
    color:white;
    
  }




#footer {
    text-align: center;
    color:white;
}


#soon {
    text-align: center;
    color:white;
    font-size: 1cm;
}

#tuned {
    text-align: center;
    color:white;
    font-size: 1cm;
    background-color: aqua;
    display: inline;
}
#test {
    color:white;
    background-color: pink;
    display: inline-block;
}
#Navigation 
ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    text-align: center;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:blueviolet;
}


#footer {
    padding-top: 1000px;
}

html { 
        background: url(black.jpg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
          }
