#main {
    text-align: center;
    color:white;
  }



#footer {
    text-align: center;
    color:white;
}


#soon {
    text-align: center;
    color:white;
    size: 50cm;
}

#Navigation {
    color:white;
    text-align: right;
    line-height: 20px;
    margin-right: 16px;
}

#Navigation:visited {
    color:white;
}

#Navigation:link {
    color:white;
}




html { 
        background: url(black.jpg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
          }
